{{define "main"}}

Hlloe

<h3 class="text-center"> Upcoming Talks </h3>

<table class="table align-middle mobile-only"> 
    <thead>
      <tr>
        <th scope="col" class="text-center">Date & Time</th>
        <th scope="col" class="text-center">Speaker</th>
        <th scope="col" class="text-center">Title</th>
        <th scope="col" class="text-center text-kill">Abstract</th>
      </tr>
    </thead>
    
    {{ $talk_number := 0 }}
    {{ range sort .Site.Data.seminar "seminar_date" "asc" }}
    {{if ( time .seminar_date ).After (now.AddDate 0 0 -1) }}
    <tbody class="accordion-header" id="flush-heading{{ $talk_number }}">
        <tr {{ if eq (mod $talk_number 2) 0 }}
              style="background-color: rgba(211,211,211,.3);"
            {{ end }} class="accordion-toggle collapsed text-center" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ $talk_number }}" aria-expanded="false" aria-controls="flush-collapse{{ $talk_number }}">
          <td><b>{{ dateFormat "January 2" .seminar_date }}</b> <br />{{.time}}</td>
          <td>{{.speaker}}<br />{{.affiliation_abbr}}</td>
          <td>{{.title}}</td>
          <td></td>
        </tr>
        <tr>
            <td colspan="4" style="padding: 0 !important;">
                <div id="flush-collapse{{ $talk_number }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ $talk_number }}" >
                    <div class="card card-body">
                      <p>{{ .abstract }}</p>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
    {{ $talk_number = add $talk_number 1}}
    {{ end }}
    {{ end }}
    
</table>

<!-- <table class="table align-middle non-mobile">  -->
<table class="table align-middle non-mobile">
  <thead>
    <tr>
      <th scope="col">Date & Time</th>
      <th scope="col">Speaker</th>
      <th scope="col">Title</th>
      <th scope="col" class="text-center text-kill">Abstract</th>
    </tr>
  </thead>
  
  {{ $talk_number := 0 }}
  {{ range sort .Site.Data.seminar "seminar_date" "asc" }}
  {{if ( time .seminar_date ).After (now.AddDate 0 0 -1) }}
  <tbody>
      <tr {{ if eq (mod $talk_number 2) 0 }}
            style="background-color: rgba(211,211,211,.3);"
          {{ end }} >
        <td><b>{{ dateFormat "January 2" .seminar_date }}</b> <br />{{.time}}</td>
        {{if .speaker_url }}
        <td><a href="{{.speaker_url}}">{{.speaker}}</a><br />{{.affiliation}}</td>
        {{ else }}
        <td>{{.speaker}}<br />{{.affiliation}}</td>
        {{ end }}
        <td>{{.title}}</td>
        <td class="accordion-header" id="flush-heading{{ $talk_number }}"><div class="accordion-toggle collapsed text-center" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ $talk_number }}" aria-expanded="false" aria-controls="flush-collapse{{ $talk_number }}"></div></td>
      </tr>
      <tr>
          <td colspan="4" style="padding: 0 !important;">
              <div id="flush-collapse{{ $talk_number }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ $talk_number }}" >
                  <div class="card card-body">
                    <p>{{ .abstract }}</p>
                  </div>
              </div>
          </td>
      </tr>
  </tbody>
  {{ $talk_number = add $talk_number 1}}
  {{ end }}
  {{ end }}
  
</table>

<h3 class="text-center"> Past Talks </h3>

<table class="table align-middle mobile-only"> 
    <thead>
      <tr>
        <th scope="col" class="text-center">Date & Time</th>
        <th scope="col" class="text-center">Speaker</th>
        <th scope="col" class="text-center">Title</th>
        <th scope="col" class="text-center text-kill">Abstract</th>
      </tr>
    </thead>
    
    {{ $talk_number := 0 }}
    {{ range sort .Site.Data.seminar "seminar_date" "asc" }}
    {{if ( time .seminar_date ).After (now.AddDate 0 0 -1) }}

    {{ else }}
    <tbody class="accordion-header" id="flush-heading{{ $talk_number }}old">
        <tr {{ if eq (mod $talk_number 2) 0 }}
              style="background-color: rgba(211,211,211,.3);"
            {{ end }} class="accordion-toggle collapsed text-center" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ $talk_number }}old" aria-expanded="false" aria-controls="flush-collapse{{ $talk_number }}old">
          <td><b>{{ dateFormat "January 2" .seminar_date }}</b> <br />{{.time}}</td>
          <td>{{.speaker}}<br />{{.affiliation_abbr}}</td>
          <td>{{.title}}</td>
          <td></td>
        </tr>
        <tr>
            <td colspan="4" style="padding: 0 !important;">
                <div id="flush-collapse{{ $talk_number }}old" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ $talk_number }}old">
                    <div class="card card-body">
                      <p>{{ .abstract }}</p>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
    {{ $talk_number = add $talk_number 1}}
    {{ end }}
    {{ end }}
    
</table>


<!-- <table class="table align-middle non-mobile">  -->
<table class="table align-middle non-mobile"> 
  <thead>
    <tr>
      <th scope="col">Date & Time</th>
      <th scope="col">Speaker</th>
      <th scope="col">Title</th>
      <th scope="col" class="text-center text-kill">Abstract</th>
    </tr>
  </thead>
  
  {{ $talk_number := 0 }}
  {{ range sort .Site.Data.seminar "seminar_date" "asc" }}
  {{if ( time .seminar_date ).After (now.AddDate 0 0 -1) }}

  {{ else }}
  <tbody class="accordion-header" id="flush-heading{{ $talk_number }}old">
      <tr {{ if eq (mod $talk_number 2) 0 }}
            style="background-color: rgba(211,211,211,.3);"
          {{ end }} >
        <td><b>{{ dateFormat "January 2" .seminar_date }}</b> <br />{{.time}}</td>
        {{if .speaker_url }}
        <td><a href="{{.speaker_url}}">{{.speaker}}</a><br />{{.affiliation}}</td>
        {{ else }}
        <td>{{.speaker}}<br />{{.affiliation}}</td>
        {{ end }}
        <td>{{.title}}</td>
        <td class="accordion-header" id="flush-heading{{ $talk_number }}old"><div class="accordion-toggle collapsed text-center" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ $talk_number }}old" aria-expanded="false" aria-controls="flush-collapse{{ $talk_number }}old"></div> </td>
      </tr>
      <tr>
          <td colspan="4" style="padding: 0 !important;">
              <div id="flush-collapse{{ $talk_number }}old" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ $talk_number }}old">
                  <div class="card card-body">
                    <p>{{ .abstract }}</p>
                  </div>
              </div>
          </td>
      </tr>
  </tbody>
  {{ $talk_number = add $talk_number 1}}
  {{ end }}
  {{ end }}
  
</table>

{{end}}