{{ define "main" }}

<h1> Publications </h1>

<h2> Selected highlights </h2> 

 <p> For a full list of publications, <a href="#full-list">see below</a>.</p> <!-- It would be nice to have a link to external repos of published papers for all group members, eg arxiv or mathscinet  -->

<div class="container">
<div class="row">


{{ $pub_total := len (where .Site.Data.publications "image" "!=" nil ) }}

{{ $seed := div now.YearDay 7 }}

{{ $slice := where .Site.Data.publications "image" "!=" nil }} <!-- loop over all publications in publications.yml -->

{{ $i := mod (mul $seed (sub $pub_total 1)) $pub_total }}

{{ range (seq 4) }}

<div class="col-sm-6 clearfix">
 <div class="well">
  <p><pubtit>{{ (index $slice $i).title }}</pubtit></p>
  <p><img src="/images/publications/{{ (index $slice $i).image }}" class="img-responsive" width="33%" style="float: right" />
  <p>{{ (index $slice $i).abstract }}</p></p>
  <p><em>{{ (index $slice $i).authors }}</em> 
  {{ if (index $slice $i).url }}
  <strong><a href="{{ (index $slice $i).url }}">{{ (index $slice $i).journal_ref }}</a></strong></p>
  {{ else }}
  <strong>{{ (index $slice $i).journal_ref }}</strong></p>
  {{ end }}
  {{ if (index $slice $i).news }}
  <p class="text-danger"><strong> {{ (index $slice $i).news }}</strong></p>
  {{ end }}
 </div>
</div>

{{ $i = mod (add $i (sub $pub_total 1)) $pub_total }}

{{ end }}

</div>
</div>


<!-- Get the unique years of publications and sort them in ascending order -->
{{ $years := slice }}
{{ range .Site.Data.publications }}
	{{ $years = $years | append .year }}
{{ end }}
{{ $years = uniq $years | sort }}
{{ $length := len $years }}


<h2 id="full-list">Full List </h2> 
<br>

{{$i := 0}} <!-- Initialize a counter to label items uniquely -->
{{ range (seq $length) }} <!-- Loop over a sequence the length equal to the number of years -->
{{ $year := index $years (sub $length .) }} <!-- Reverse the indexing -->
    
<h3>{{ $year }}</h3>
{{ $j := 0 }}
<table class="table align-middle mobile-only"> 
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead> 
  
  {{ range where $.Site.Data.publications ".year" $year }} <!-- Loop over all the publications from publications.yml with the matching year -->
  <tbody class="accordion-header" id="flush-heading{{ $i }}">
      <tr {{ if eq (mod $j 2) 0 }}
            style="background-color: rgba(211,211,211,.3);"
          {{ end }} class="accordion-toggle collapsed text-center" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ $i }}" aria-expanded="false" aria-controls="flush-collapse{{ $i }}">
        <td>{{ .authors }}. {{ .title }}. {{ .journal_ref }} </td>
        <td></td>
      </tr>
      <tr>
          <td colspan="2" style="padding: 0 !important;">
              <div id="flush-collapse{{ $i }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ $i }}" >
                  <div class="card card-body">
                    <p>{{ .abstract }}</p>
                  </div>
              </div>
          </td>
      </tr>
  </tbody>
  {{$j = add $j 1}}
  {{$i = add $i 1}}
  {{ end }}
</table> 

<!-- <table class="table align-middle non-mobile">  -->
<table class="table align-middle non-mobile">
  <thead>
    <tr>
      <tr>
        <th scope="col">Article</th>
        <th scope="col">More</th>
      </tr>
    </tr>
  </thead>

  {{ range where $.Site.Data.publications ".year" $year }}
  <tbody>
      <tr {{ if eq (mod $j 2) 0 }}
            style="background-color: rgba(211,211,211,.3);"
          {{ end }} >
        <td> {{ .authors }}. {{ .title }}. {{ if .url }}
          <a href="{{ .url }}">{{ .journal_ref }}</a>
          {{ else }}
          { .journal_ref }}
          {{ end }} </td>
        <td class="accordion-header" id="flush-heading{{ $i }}"><div class="accordion-toggle collapsed text-center" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ $i }}" aria-expanded="false" aria-controls="flush-collapse{{ $i }}"></div></td>
      </tr>
      <tr>
          <td colspan="2" style="padding: 0 !important;">
              <div id="flush-collapse{{ $i }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ $i }}" >
                  <div class="card card-body">
                    <p>{{ .abstract }}</p>
                  </div>
              </div>
          </td>
      </tr>
  </tbody>
  {{$i = add $i 1}}
  {{$j = add $j 1}}
 {{ end }}
</table>

{{$i = add $i 1}}
{{ end }}

<!-- End of file -->
{{ end }} 