<p><h3>Algebra, Geometry, and Number Theory Seminar</h3></p>

<p>
The Algebra, Geometry, and Number Theory seminar features both internal and external speakers in a weekly format. The full {{now.Year}} schedule for the AGNT Seminar can be found <a href="./{{now.Year}}/">here</a>. Schedules from previous years are listed below.
</p>

<div class="row" style="text-align: center;">
{{ $number := sub now.Year 2013 }}
{{range seq $number}}
    {{ $year := sub now.Year . }}
    <div class="col-md-6">
     <a href="./{{$year}}/">{{$year}} Algebra, Geometry, and Number Theory Seminar</a><br>
    </div>
{{ end }}
</div>