{{ $authors := slice }}
{{ range .Params.authors }}
    {{ $authors = $authors | append (printf "%s %s" .first .last) }}
{{ end }}
{{ with $authors }}
    {{ delimit . ", " }}.
{{ end }}
&nbsp {{- .Params.title -}}.&nbsp 
{{- with .Params.edition -}}
    {{.}} edition. 
{{ end }}
{{- with .Params.note -}}
    &nbsp{{.}}
{{- end -}}
{{- with .Params.series -}}
    . {{.}}
{{ end }}
{{- with .Params.volume -}}
    , {{.}}
{{- end -}}
. &nbsp{{- .Params.publisher -}},&nbsp {{- .Params.year -}}. 
{{- with .Params.pages -}}
    &nbsp{{.}} pp.
{{- end -}}
{{- with .Params.isbn -}}
    &nbspISBN: {{.}}. 
{{- end -}}