<!-- Get the publications and extract those for the person we are building the page -->
{{ $grants := slice }}
{{ $slice := (.GetPage "/grants/index.md").Resources.ByType "page" }}
{{ $person := printf "%s%s" .Params.name.first .Params.name.last  }}
{{ $investigators := "" }}
{{ range $slice }}
    {{ range .Params.pis }}
        {{ $investigators = print $investigators (printf "%s%s" .first .last) }}
    {{ end }}
    {{ range .Params.copis }}
        {{ $investigators = print $investigators (printf "%s%s" .first .last) }}
    {{ end }}
    {{ if in $investigators $person }}
        {{ $grants = $grants | append . }}
    {{ end }}
{{ end }}

{{ if gt (len $grants) 0}}
<h3> Grants </h3>
<ul>
    {{ range ($grants.ByParam "year").Reverse }}
        <li> {{.Params.proposal_title}}. {{.Params.agency}}. {{ dateFormat "2006" .Params.start_date}}-{{ dateFormat "2006" .Params.end_date }}. </li>
    {{ end }}
</ul>
{{ end }}
