{{ $people := (.Page.GetPage "/team/people/index.md").Resources.ByType "page"}}
{{ if ne .Params.group "all"}}
    {{$people = where $people "Params.class" "=" .Params.group}}
{{ end }}

{{ $alumni := (.Page.GetPage "/team/alumni/index.md").Resources.ByType "page"}}
{{ if ne .Params.group "all"}}
    {{$alumni = where $alumni "Params.class" "=" .Params.group}}
{{ end }}

{{ if ne (len $people) 0 }}
<div class="container big-screen">
    <div class="row">
    {{ range sort $people "Params.name.last"  }}
        <div class="col-4">
            <div class="row">
            <div class="my-auto" style="width: 120px; text-align: center;">
                <img src="/images/team/{{ .Params.photo }}" width="100px" style="align-items: center;" />
            </div>
            <div class="col my-auto" style="line-height: 80%;">
                <p><b style="font-size: large; line-height: 100%;">{{ with .Params.name }}{{.first}} {{.last}}{{end}}</b></p>
                <p>{{.Params.position}}</p>
                {{ if .Params.advisors }}
                    <p style="line-height: normal; margin-bottom: 1%;"><b>Advisors:</b> {{ with .Params.advisors }} {{ delimit . ", "}}{{end}}<br> {{ with .Params.research_interests }} <b>Interests: </b>{{delimit . ", "}} {{ end }}</p> 
                {{else if .Params.advisor}} 
                    <p style="line-height: normal; margin-bottom: 1%;"><b>Advisor: </b>{{.Params.advisor }} <br> {{ with .Params.research_interests }} <b>Interests: </b>{{delimit . ", "}} {{ end }}</p>
                {{ else }}
                    <p style="line-height: normal; margin-bottom: 1%;">{{ with .Params.research_interests }} <b>Interests: </b>{{delimit . ", "}} {{ end }}</p>
                {{end}}
            </div>
            </div>
        </div>
    {{ end }}
    </div>
</div>

<div class="container med-screen-upper med-screen-lower">
    <div class="row">
    {{ range sort $people "Params.name.last" }}
        <div class="col-6">
            <div class="row">
            <div class="my-auto"style="width: 120px; text-align: center;">
                <img src="/images/team/{{ .Params.photo }}" width="100px" style="align-items: center;" />
            </div>
            <div class="col my-auto" style="line-height: 80%;">
                <p><b style="font-size: large; line-height: 100%;">{{ with .Params.name }}{{.first}} {{.last}}{{end}}</b></p>
                <p>{{.Params.position}}</p>
                {{ if .Params.advisors }}
                    <p style="line-height: normal; margin-bottom: 1%;"><b>Advisors:</b> {{with .Params.advisors}} {{ delimit . ", "}}{{end}}<br> {{ with .Params.research_interests }} <b>Interests: </b>{{delimit . ", "}} {{ end }}</p> 
                {{else if .Params.advisor}} 
                    <p style="line-height: normal; margin-bottom: 1%;"><b>Advisor: </b>{{.Params.advisor }} <br> {{ with .Params.research_interests }} <b>Interests: </b>{{delimit . ", "}} {{ end }}</p>
                {{ else }}
                    <p style="line-height: normal; margin-bottom: 1%;">{{ with .Params.research_interests }} <b>Interests: </b>{{delimit . ", "}} {{ end }}</p>
                {{end}}
            </div>
            </div>
        </div>
    {{end}}
    </div>
</div>

<div class="container small-screen">
    <div class="row">
    {{ range sort $people "Params.name.last" }}
        <div class="col-12">
            <div class="row">
                <div class="my-auto" style="width: 120px;">
                    <img src="/images/team/{{ .Params.photo }}" width="100px" style="align-items: center;" />
                </div>
                <div class="col my-auto" style="line-height: 80%;">
                    <p><b style="font-size: large; line-height: 100%;">{{ with .Params.name }}{{.first}} {{.last}}{{end}}</b></p>
                    <p>{{.Params.position}}</p>
                    {{ if .Params.advisors }}
                        <p style="line-height: normal; margin-bottom: 1%;"><b>Advisors:</b> {{with .Params.advisors}} {{ delimit . ", "}}{{end}}<br> {{ with .Params.research_interests }} <b>Interests: </b>{{delimit . ", "}} {{ end }}</p> 
                    {{else if .Params.advisor}} 
                        <p style="line-height: normal; margin-bottom: 1%;"><b>Advisor: </b>{{.Params.advisor }} <br> {{ with .Params.research_interests }} <b>Interests: </b>{{delimit . ", "}} {{ end }}</p>
                    {{ else }}
                        <p style="line-height: normal; margin-bottom: 1%;">{{ with .Params.research_interests }} <b>Interests: </b>{{delimit . ", "}} {{ end }}</p>
                    {{end}}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ else }}
<div class="container" style="margin-bottom: 1%;">
  There are currently no {{.Params.group}} in the group.
</div>
{{ end }}


{{ if ne (len $alumni) 0 }}
<h2>Alumni</h2>
<div class="container big-screen">
    <div class="row">
    {{ range sort $alumni "Params.name.last" }}
        <div class="col-4">
            <div class="row">
            <div class="my-auto" style="width: 120px; text-align: center;">
                <img src="/images/alumni/{{ .Params.photo }}" width="100px" style="align-items: center;" />
            </div>
            <div class="col my-auto" style="line-height: 80%;">
                <p><b style="font-size: large; line-height: 100%;">{{ with .Params.name }}{{.first}} {{.last}}{{end}}</b></p>
                <p>Former {{.Params.position}}</p>
                {{ if .Params.advisors }}
                        <p style="line-height: normal; margin-bottom: 1%;"><b>Advisors:</b> {{with .Params.advisors}} {{ delimit . ", "}}{{end}}<br> {{ with .Params.thesis}} <b>Thesis: </b>{{.}} {{ end }}</p>
                    {{else if .Params.advisor}} 
                        <p style="line-height: normal; margin-bottom: 1%;"><b>Advisor: </b>{{.Params.advisor }} <br> {{ with .Params.thesis}} <b>Thesis: </b>{{.}} {{ end }}</p>
                    {{ else }}
                        <p style="line-height: normal; margin-bottom: 1%;"> {{ with .Params.thesis}} <b>Thesis: </b>{{.}} {{ end }}</p>
                {{end}}
            </div>
            </div>
        </div>
    {{end}}
    </div>
</div>
<div class="container med-screen-upper med-screen-lower">
    <div class="row">
    {{ range sort $alumni "Params.name.last" }}
        <div class="col-6">
            <div class="row">
            <div class="my-auto"style="width: 120px; text-align: center;">
                <img src="/images/alumni/{{ .Params.photo }}" width="100px" style="align-items: center;" />
            </div>
            <div class="col my-auto" style="line-height: 80%;">
                <p><b style="font-size: large; line-height: 100%;">{{ with .Params.name }}{{.first}} {{.last}}{{end}}</b></p>
                <p>Former {{.Params.position}}</p>
                {{ if .Params.advisors }}
                        <p style="line-height: normal; margin-bottom: 1%;"><b>Advisors:</b> {{with .Params.advisors}} {{ delimit . ", "}}{{end}}<br> {{ with .Params.thesis}} <b>Thesis: </b>{{.}} {{ end }}</p>
                    {{else if .Params.advisor}} 
                        <p style="line-height: normal; margin-bottom: 1%;"><b>Advisor: </b>{{.Params.advisor }} <br> {{ with .Params.thesis}} <b>Thesis: </b>{{.}} {{ end }}</p>
                    {{ else }}
                        <p style="line-height: normal; margin-bottom: 1%;"> {{ with .Params.thesis}} <b>Thesis: </b>{{.}} {{ end }}</p>
                {{end}}
            </div>
            </div>
        </div>
    {{ end }}
    </div>
</div>
<div class="container small-screen">
    <div class="row">
    {{ range sort $alumni "Params.name.last" }}
        <div class="col-12">
            <div class="row">
                <div class="my-auto" style="width: 120px;">
                    <img src="/images/alumni/{{ .Params.photo }}" width="100px" style="align-items: center;" />
                </div>
                <div class="col my-auto" style="line-height: 80%;">
                    <p><b style="font-size: large; line-height: 100%;">{{ with .Params.name }}{{.first}} {{.last}}{{end}}</b></p>
                    <p>Former {{.Params.position}}</p>
                    {{ if .Params.advisors }}
                            <p style="line-height: normal; margin-bottom: 1%;"><b>Advisors:</b> {{with .Params.advisors}} {{ delimit . ", "}}{{end}}<br> {{ with .Params.thesis}} <b>Thesis: </b>{{.}} {{ end }}</p>
                        {{else if .Params.advisor}} 
                            <p style="line-height: normal; margin-bottom: 1%;"><b>Advisor: </b>{{.Params.advisor }} <br> {{ with .Params.thesis}} <b>Thesis: </b>{{.}} {{ end }}</p>
                        {{ else }}
                            <p style="line-height: normal; margin-bottom: 1%;"> {{ with .Params.thesis}} <b>Thesis: </b>{{.}} {{ end }}</p>
                    {{end}}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ else }}

<h2>Alumni </h2>
<div class="container">
  There are currently no {{.Params.group}} alumni. 
</div>
{{ end }}