<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit="no">

    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />

    <!-- Temporary tag to prevent indexing while developing the site -->
    <meta name="robots" content="noindex">

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

    <!-- Static links to the version of bootstrap just in case -->
        
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>  -->

    <!-- Font Awesome fonts to fix issue of icons not displaying on iOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed") }}

    {{ $style := resources.Get "sass/main.scss" | toCSS  $options | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">

    {{ $js := resources.Get "js/bootstrap.bundle.min.js" }}
    <script src="{{$js.RelPermalink}}" defer></script>
    
    {{ template "_internal/opengraph.html" . }}
    
    {{ template "_internal/twitter_cards.html" . }}

    {{ template "_internal/google_analytics_async.html" . }}

    {{ with .Params.katex }}
        {{partial "katex.html"}}
    {{end}}
 
</head>
  