{{ $bib := slice }}
{{ $authors := slice }}
{{ range .Params.authors }}
    {{ $authors = $authors | append (printf "%s %s" .first .last) }}
{{ end }}
{{ with $authors }}
    {{ $bib = $bib | append (delimit . ", " " and ") }}
{{ end }}
{{ with .Params.title }}
    {{ $bib = $bib | append (printf "<i>%s</i>" . ) }}
{{ end }}
{{ $string := "" }}
{{ with .Params.booktitle }}
    {{ $string = printf "%s" . }}
{{ end }}
{{ $editors := slice }}
{{ range .Params.editors }}
    {{ $editors = $editors | append (printf "%s %s" .first .last) }}
{{ end }}
{{ with $editors }}
    {{ $string = printf "%s (%s ed.)" $string (delimit . ", " " and ") }}
{{ end }}
{{ if ne $string "" }}
    {{ $bib = $bib | append $string }}
{{ end }}
{{- with .Params.series -}}
    {{ $bib = $bib | append . }}
{{ end }}
{{- with .Params.volume -}}
    {{ $bib = $bib | append (printf "vol %s" . ) }}
{{- end -}}
{{- with .Params.publisher -}}
    {{ $bib = $bib | append . }}
{{ end }}
{{- with .Params.address -}}
    {{ $bib = $bib | append . }}
{{ end }}
{{ with .Params.edition }}
    {{ $bib = $bib | append printf "%s ed." . }}
{{ end }}
{{ $date := "" }}
{{ with .Params.month }}
    {{ $date = printf "%s" . }}
{{ end }}
{{ with .Params.year }}
    {{ $date = printf "%s %s" . }}
{{ end }}
{{ if $date }}
    {{ $bib = $bib | append $date }}
{{ end }}
{{- with .Params.note -}}
    {{ $bib = $bib | append . }}
{{- end -}}
{{ with .Params.pages }}
    {{ $bib = $bib | append (printf "pp. %s" . )}}
{{ end }}
{{ with .Params.isbn }}
    {{ $bib = $bib | append (printf "ISBN: %s" .) }}
{{ end }}
{{ delimit $bib ", " }}.