{{ $bib := slice }}
{{ $authors := slice }}
{{ range .Params.authors }}
    {{ $authors = $authors | append (printf "%s %s" .first .last) }}
{{ end }}
{{ with $authors }}
    {{ $bib = $bib | append (delimit . ", " " and ") }}
{{ end }}
{{ with .Params.title }}
    {{ $bib = $bib | append (printf "<i>%s</i>" . ) }}
{{ end }}
{{ with .Params.organization }}
    {{ $bib = $bib | append . }}
{{ end }}
{{ with .Params.address }}
    {{ $bib = $bib | append . }}
{{ end }}
{{ with .Params.edition }}
    {{ $bib = $bib | append (printf "%s ed." . ) }}
{{ end }}
{{ $date := "" }}
{{ with .Params.month }}
    {{ $date = printf "%s" . }}
{{ end }}
{{ with .Params.year }}
    {{ $date = printf "%s %s" . }}
{{ end }}
{{ if ne $date ""}}
    {{ $bib = $bib | append $date }}
{{ end }}
{{ with .Params.note }}
    {{ $bib = $bib | append . }}
{{ end }}
{{ delimit $bib ", " }}.