{{ $bib := slice }}
{{ $authors := slice }}
{{ range .Params.authors }}
    {{ $authors = $authors | append (printf "<b>%s %s</b>" .first .last) }}
{{ end }}
{{ with $authors }}
    {{ $bib = $bib | append (delimit . ", " " and ") }}
{{ end }}
{{ with .Params.title }}
    {{ $bib = $bib | append (printf "<i>%s</i>" . ) }}
{{ end }}
{{ with .Params.howpublished }}
    {{ $bib = $bib | append . }}
{{ end }}
{{ $date := "" }}
{{ with .Params.year }}
    {{ $date = printf "%s" . }}
{{ end }}
{{ with .Params.month }}
    {{ $date = printf "%s %s" . $date }}
{{ end }}
{{ if $date }}
    {{ $bib = $bib | append $date }}
{{ end }}
{{ with .Params.note }}
    {{ $bib = $bib | append . }}
{{ end }}
{{ delimit $bib ", " }}.