<!-- Generate a list of all current members -->
{{ $group_members := slice }}
{{ $slice := (.Site.GetPage "/team/_index.md").RegularPages }}
{{ range $slice }}
  {{ if in .RelPermalink "/people/"}}
    {{ $name := printf "%s%s" .Params.name.first .Params.name.last }}
    {{ $group_members = $group_members | append $name }}
  {{ end }}
{{ end }}

{{ $slice := (.Site.GetPage "/talks/index.md").Resources.ByType "page" }} <!-- Pull all talk records -->
{{ $talks := slice }}
{{ range $slice }}
    {{ $name := printf "%s%s" .Params.speaker.first .Params.speaker.last }}
    {{ if in $group_members $name }}
        {{ $talks = $talks | append . }}
    {{ end }}
{{ end }}

{{ if ne (len $talks) 0 }}
<h3>Upcoming talks by group members</h3>

<table class="table"> 
    <thead>
      <tr>
        <th scope="col">Speaker</th>
        <th scope="col">Event</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    
    {{ $talk_number := 0 }}
    {{ range sort $talks "Params.event_date" "asc"}}
    {{if ( time .Params.event_date ).After (now.AddDate 0 0 -1) }}
    <tbody class="align-middle">
        <tr {{ if eq (mod $talk_number 2) 0 }}
              style="background-color: rgba(211,211,211,.3);"
            {{ end }}>
          <td><b>{{ with .Params.speaker }} {{.first}} {{.last}} {{ end }}</b></td>
          {{ if .Params.event_url }}
          <td> <a href="{{.Params.event_url}}"> {{.Params.event_name }} </a>
          {{ with .Params.event_organization }}
            <br> {{ . }}
          {{ end }}
          </td>
          {{ else }}
          <td> {{.Params.event_name }} </td>
          {{ end }}
          <td>{{ dateFormat "January 2" .Params.event_date }}</td>
        </tr>
    </tbody>
    {{ $talk_number = add $talk_number 1}}
    {{ end }}
    {{ end }}
</table>
{{ end }}