{{ define "main" }}

<div class="container">
{{ .Content }}

{{ $years := slice }}
{{ $slice := .Pages }}
{{ range $slice }}
	{{ $years = $years | append .Params.year }}
{{ end }}
{{ $years = uniq $years | sort }}
{{ $length := len $years }}

{{$i := 0}} <!-- Initialize a counter to label items uniquely -->
<div class="row">
{{ range (seq $length) }} <!-- Loop over a sequence the length equal to the number of years -->

{{ $year := index $years (sub $length .) }} <!-- Reverse the indexing -->
{{ if ne (len (where (where $slice ".Params.year" $year) ".Params.semester" "Fall" )) 0}}
<div class="col-md-6">
<h3>Fall {{ $year }}</h3>
<ul style="padding-left: 5%;">
{{ range sort (where (where $slice ".Params.year" $year) ".Params.semester" "Fall") ".Params.course_number" }} 
    <li>
        Math {{.Params.course_number}} - {{.Params.course_name}}. Instructor: {{with .Params.instructor}} {{.first}} {{.last}}. {{end}} {{with .Params.webpage }} <a href="{{.}}">Webpage</a> {{end}}
    </li>
{{ end }}
</ul>
</div>
{{ end }}
{{ if ne (len (where (where $slice ".Params.year" $year) ".Params.semester" "Spring")) 0}}
<div class="col-md-6">
<h3>Spring {{ $year }}</h3>
<ul style="padding-left: 5%;">
{{ range sort (where (where $slice ".Params.year" $year) ".Params.semester" "Spring") ".Params.course_number" }} 
<li>
    Math {{.Params.course_number}} - {{.Params.course_name}}. Instructor: {{with .Params.instructor}} {{.first}} {{.last}}. {{end}}  {{with .Params.webpage }} <a href="{{.}}">Webpage</a> {{end}}
</li>
{{ end }}
</ul>
</div>
{{ end }}
{{ end }}
</div>
</div>
{{ end }}